#container {
    margin:0;
    padding:0;
    height:100%;
}
.line{
    margin-top:100px;
    background-color:#0f0f0f;
    width:100%;
    -moz-box-shadow: 0px 0px 40px #000;
    -webkit-box-shadow: 0px 0px 40px #000;
}

.index_form {
    margin:10px 10px;
    width:500px;
    margin:0 auto;
}

.form {
    padding-top:20px;
    padding-bottom:10px;
    width:60%;
    margin:0 auto;
}
#update_stream {
    width:400px;
    margin:0 auto;
    margin-top:40px;
}
.post{
    padding:10px 10px;

}
#update_stream .post{
    width:550px;
    margin-right:10px;
    margin-left:-100px;
    margin-top:20px;
    background-color:#0f0f0f;
    -moz-box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
}
.post img{
    padding-right:10px;
}

#navigation {
    position:absolute;
    top:45px;
    left:55%;
    right:25%;
}

#nav_bar {
    background: #292929;

}
#nav_bar li {
    float: left;
    list-style: none;
    border-right: 1px solid #171717;
    border-left: 1px solid #171717;
}
#nav_bar li a {
    color: #171717;
    background-color:#C7F464;
    position: relative;
    z-index: 2;
    float: left;
    text-decoration: none;
    padding: 10px 15px;
    -moz-box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
}
#nav_bar li a:hover,#nav_bar #selected a{
    background-color:#171717;
    color:#C7F464;
}
#content {
    width:880px;
    margin:0 auto;
}
.left_page{
    position:absolute;
    top:360px;
    width:180px;
    float:left;
    margin:0;
    padding:0;
    vertical-align:middle;

    font-family:"Gabriola Regular",Helvetica, Arial, sans-serif;
}
.middle_page{
    position:relative;
    left:180px;
    top:110px;
    width:100px;
    float:left;
    margin:0;
    padding:0;

}
.right_page{
    position:relative;
    width:580px;
    float:right;
    top:110px;
    margin:0;
    padding:0;
    max-height:600px;
}

.right_page .post{
    width:550px;
}
.time{
    font-size:0.8em;
}
#post_nav li{
    padding-left:20px;
    text-align: left;
    vertical-align: middle;
}
#post_nav #post {
    font-size:2.5em;
}
#post_nav #post a{
    color:#FF6B6B;
}
#post_nav #post a:hover{
    background-color:#FF6B6B;
    color:white;
    text-decoration: none;
}
#post_nav #sign_out a{
    color:#4ECDC4;
}
#post_nav #sign_out a:hover{
    background-color:#4ECDC4;
    color:white;
    text-decoration: none;
}

#share_form {
    position:fixed;
    top:0%;
    left:40%;
    right:40%;
    width:400px;
    padding:5px 5px;
    background-color:#C7F464;
    -moz-box-shadow: 5px 5px 40px #000;
    -webkit-box-shadow: 5px 5px 40px #000;
    z-index: 1000;
}
