#container {
    margin:0;
    padding:0;
    height:100%;

}
#logo {
    position:absolute;
    top:40px;
    left:25%;
    right:69%;
}
#logo img {
    width:250px;
    height:120px;
}
#content {
    margin:0;
    padding:0;
    width:100%;
    height:650px;
    margin-top:3%;
    margin-bottom:2%;
    overflow:hidden;
    -moz-box-shadow: 0px 0px 40px #000;
    -webkit-box-shadow: 0px 0px 40px #000;
}
.line{
    margin-top:130px;
    background-color:#0f0f0f;
    width:100%;
    -moz-box-shadow: 0px 0px 40px #000;
    -webkit-box-shadow: 0px 0px 40px #000;
}
.post_details {
    padding-left:20px;
    margin-left:10px;
}
.index_form {
    margin:10px 10px;
    width:500px;
    margin:0 auto;
}

.form {
    padding-top:20px;
    padding-bottom:10px;
    width:60%;
    margin:0 auto;
}
#update_stream {
    width:400px;
    margin:0 auto;
    margin-top:40px;
}
.post{
    padding:10px 10px;

}
#update_stream .post{
    width:550px;
    margin-right:10px;
    margin-left:-100px;
    margin-top:20px;
    background-color:#0f0f0f;
    -moz-box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
}
#navigation {
    position:absolute;
    top:75px;
    left:55%;
    right:25%;
}

#nav_bar {
    background: #292929;

}
#nav_bar li {
    float: left;
    list-style: none;
    border-right: 1px solid #171717;
    border-left: 1px solid #171717;
}
#nav_bar li a {
    color: #171717;
    background-color:#C7F464;
    position: relative;
    z-index: 2;
    float: left;
    text-decoration: none;
    padding: 10px 15px;
    -moz-box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
}
#nav_bar li a:hover,#nav_bar #selected a{
    background-color:#171717;
    color:#C7F464;
}

.left_page{
    position:relative;
    float:left;
    width:10%;
    height:100%;
    -moz-box-shadow: 0px 0px 40px #000;
    -webkit-box-shadow: 0px 0px 40px #000;
    z-index:500;
}
.left_container{
    margin-left:20px;
    margin-top:20px;
}
.left_container #top_logo img{
    width:95%;
    height:8%;
    padding-bottom:40px;
}
.middle_page{
    position:relative;
    float:left;
    width:55%;
    height:100%;
    background-color:#1f1f1f;
    -moz-box-shadow: 0px 0px 40px #000;
    -webkit-box-shadow: 0px 0px 40px #000;
    z-index:499;
}
.middle_container {
    margin:20px 20px;
    margin-right:20px;
}
.middle_container .post {
    padding:10px;
}
.middle_container .post img{
    vertical-align: middle;
    border:2px solid black;
}
.middle_container .post:hover {
    background-color:#282828;
}
.middle_container #status_update textarea {
    width:100%;
}
.middle_container #status_update {
    margin-bottom:30px;
}
.right_page{
    position:relative;
    float:left;
    height:100%;
    width:35%;
    background-color:#282828;
    -moz-box-shadow: 0px 0px 40px #000;
    -webkit-box-shadow: 0px 0px 40px #000;
    z-index:498;
}
.right_contaier{
    margin-left:20px;
    margin-top:20px;
}

.time{
    font-size:0.8em;
    padding-left:5px;
}
#post_nav li{
    text-align: left;
    vertical-align: middle;
}


#share_form {
    position:fixed;
    top:0%;
    left:40%;
    right:40%;
    width:400px;
    padding:5px 5px;
    background-color:#C7F464;
    -moz-box-shadow: 5px 5px 40px #000;
    -webkit-box-shadow: 5px 5px 40px #000;
    z-index: 1000;
}
.pagination {
    padding-top:10px;
    float:right;
}
#notification_area {
    position:absolute;
    top:10px;

    width:100%;
    text-align: center;
}
#notification { 
    width:400px;
    margin:0 auto;
    background-color:#FFC200;
    padding:2px 5px;
}
.ok {
    float:right;   
}
.ok input{

    font-weight: bold;
    background-color:#FF6B6B;
    border:1px solid black;
}
#user_photo {
    margin-left:25px;
}