<% div_for post do %>
  <blockquote><%= post.status %></blockquote>
  Happened <%= time_ago_in_words(post.created_at) %> ago --
  <%updated_by = User.find(:first,:conditions=>["id = ?",post.user_id])%>
  <em><%=updated_by.screen_name%></em>
<% end %>
