<div id ="share_form">
  <% form_remote_tag(:url=>{:controller => "posts", :action => "create"},:method=>:post,:before=>"$('notification').visualEffect('appear');$('notification').innerHTML = 'Sharing...'",:success=>"$('notification').innerHTML = 'Shared!!'",:complete=>"$('notification').visualEffect('fade');document.forms[0].reset();")do %>
    <%= label_tag(:status, "What just happened?") %><br />
    <%= text_area_tag(:status, nil, :size => "116*2") %><br />
    <div class ="ok"><%= submit_tag("Share!!") %></div>
  <% end %>
</div>
