<%= render :partial => "status" %>

<div id ="posts">
  <%= render :partial => @posts%>
</div>
<%=will_paginate @posts,:remote => "true"%>
<%=periodically_call_remote :url => {:action => :fetch_new_posts},:method=>:get,:frequency =>'30'%>
