<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' /> 
    <%unless controller_name=='posts' and controller.action_name=='show'%>
      <title><%=controller_name%>: <%= controller.action_name %></title>
    <%else%>
      <title><%=@page_title%></title>
    <%end%>
    <%= stylesheet_link_tag 'main','formtastic' %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <div id ="content">
      <%if current_user and signed_in?%>
        <div id ="status_bar">
          <em>Whuzzup, <%=current_user.screen_name%>!</em> (<%=link_to 'Sign out',sign_out_path%>)
        </div>
      <%end%>

      <% if controller_name =='posts' or controller_name == 'users' or controller_name=='sessions'%>
        <div id ="notification"><%= flash[:notice] %></div>
        <%if controller_name =="posts"%>
          <div id ="header"><h1>LogoGoesHere</h1></div>
        <%end%>
      <%end%>
      <% if controller_name=='passwords' %>
        <div class="page">
          <%= yield %>
        </div>
      <%else%>
        <%=yield%>
      <%end%>

      <%if controller_name == 'sessions'%>
        <div id ="update_stream">
          Latest happenings...
          <div id="stream">
            <%= render :partial => 'posts/post', :collection=>Post.find(:all, :order => "created_at DESC",:limit=>3)%>
          </div>
          <%=periodically_call_remote :url => "/posts/fetch_limited_posts",:method=>:get,:frequency=>3%>
        </div>
      <%end%>
    </div>
  </body>
</html>
